<!DOCTYPE html>
<html lang="en" ng-app="shoeStoreApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UShop</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="payment.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <script src="https://maps.googleapis.com/maps/api/js?key=NEW_API_KEY"></script>

    <script src="./assets/fake-data/products.js"></script>
    <script src="app.js"></script>

</head>

<body>
    <div class="header-top">
        <div class="container">
            <div class="header-top-content">
                <div class="header-contact">
                    <span>Hotline: 0862832192</span>
                    <span>Email: duypkph34320@fpt.edu.vn</span>
                </div>
                <div class="header-login-register">
                    <a href="#!/login">Đăng nhập</a>
                    <a href="#!/register">Đăng kí</a>
                </div>
            </div>
        </div>
    </div>
    <div class="header-img">
        <img src="assets/images/ushop_logo.png" alt="">
    </div>

    <hr>
    <header>
        <div class="container">
            <div class="header">
                <nav id="nav-bar">
                    <a href="#!/" id="home">TRANG CHỦ</a>
                    <a href="#!/about" id="about">GIỚI THIỆU</a>
                    <a href="#!/product" id="product">SẢN PHẨM</a>
                    <a href="#!/contact" id="contact">LIÊN HỆ</a>
                    <a href="#!/news" id="news">TIN TỨC</a>
                </nav>
                <div class="header-search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <a href="#!/checkOut" class="cart-icon">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <!-- <span class="cart-count" ng-if="gioHang.length > 0">{{ gioHang.length }}</span>
                        <span class="cart-count cart-count-empty" ng-if="gioHang.length == 0">0</span>
                        <div class="cart-popup">
                            <div ng-if="gioHang.length == 0">
                                Không có sản phẩm nào trong giỏ hàng của bạn
                            </div>
                            <div ng-if="gioHang.length > 0">
                                <ul>
                                    <li ng-repeat="product in gioHang">
                                        {{ product.name }} - {{ product.price }}
                                    </li>
                                </ul>
                            </div>
                        </div> -->
                    </a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div ng-view></div>
    </main>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3>Về chúng tôi</h3>
                    <ul>
                        <li><a href="#">Trang chủ</a></li>
                        <li><a href="#">Giới thiệu</a></li>
                        <li><a href="#">Sản phẩm</a></li>
                        <li><a href="#">Liên hệ</a></li>
                        <li><a href="#">Tin tức</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h3>Chính sách</h3>
                    <ul>
                        <li><a href="#">Trang chủ</a></li>
                        <li><a href="#">Giới thiệu</a></li>
                        <li><a href="#">Sản phẩm</a></li>
                        <li><a href="#">Liên hệ</a></li>
                        <li><a href="#">Tin tức</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h3>Hỗ trợ khách hàng</h3>
                    <ul>
                        <li><a href="#">Trang chủ</a></li>
                        <li><a href="#">Giới thiệu</a></li>
                        <li><a href="#">Sản phẩm</a></li>
                        <li><a href="#">Liên hệ</a></li>
                        <li><a href="#">Tin tức</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h3>Đăng ký nhận khuyến mãi</h3>
                    <form>
                        <input type="email" placeholder="Nhập địa chỉ email">
                        <button type="submit">Đăng ký</button>
                    </form>
                    <h3>Theo dõi chúng tôi</h3>
                    <ul class="social">
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                    </ul>
                    <p>Cung cấp bởi pkd</p>
                </div>
            </div>
        </div>
    </footer>

    <script>

    </script>
</body>

</html>