<div class="href-product">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#!/">Trang chủ</a></li>
                <li class="breadcrumb-item">Giới thiệu</li>
            </ul>
        </nav>
    </div>
</div>
<div class="container">
    <div class="about">
        <h1>Giới thiệu</h1>

        <h2>USHOP - WEBSITE MUA SẮM GIÀY GIÉP HÀNG HIỆU TRỰC TUYẾN HÀNG ĐẦU VIỆT NAM</h2>
        <p><span class="highlight">BẠN ĐANG TÌM KIẾM NHỮNG MẪU TGIÀY DÉP VÀ PHỤ KIỆN MỚI NHẤT TRÊN MẠNG?</span> HÃY MUA
            SẮM
            NGAY HÔM NAY TẠI USHOP!</p>
        <p>UShop sẽ mang lại cho khách hàng những trải nghiệm mua sắm thời trang hàng hiệu trực tuyến thú vị từ các
            thương
            hiệu giày zép quốc tế và trong nước, cam kết chất lượng phục vụ hàng đầu cùng với những bộ sưu tập giày dép
            nam
            nữ không lỡ cho cả phụ nữ và nam giới với những xu hướng thời trang mới nhất.</p>

        <h2>USHOP - MÓN QUÀ TẶNG NGƯỜI THÂN THẬT Ý NGHĨA!</h2>
        <p>UShop sẽ gợi ý cho bạn những món quà là những đôi giày thật ý nghĩa để tặng người thân, bạn bè. Chúng tôi sẽ
            làm
            bạn hài lòng với sự lựa chọn của mình bằng giá tốt nhất và chất lượng dịch vụ hoàn hảo của USHOP.</p>

        <h2>MUA SẮM Ở USHOP - PHÙ HỢP VỚI TÚI TIỀN TỪ DOANH NHÂN, NHÂN VIÊN VĂN PHÒNG ĐẾN CÁC BẠN TRẺ</h2>
        <p>USHOP luôn cập nhật những xu hướng thời trang phong cách nhất từ những đôi giày nổi tiếng mà giá cả phải
            chăng
            như Me Girl hoặc Bandolini, Juno, JShoes cho tới các thương hiệu thời trang tầm trung như Lotus Shoes và
            Mollet,
            Lithe S, Om Shoes tất cả đều có ở USHOP.</p>

        <h2>PHONG CÁCH MUA SẮM HIỆN ĐẠI - THUẬN TIỆN, THANH TOÁN AN TOÀN - DỄ DÀNG</h2>
        <p>Bạn có thể mua sắm thoải mái trên UShop mà không có bất kỳ lo lắng nào: trả hàng trong vòng 30 ngày kể từ
            ngày
            nhận hàng. Nếu bạn có bất kỳ câu hỏi nào về các sản phẩm của chúng tôi hãy gọi ngay tới bộ phận chăm sóc
            khách
            hàng.</p>

    </div>
</div>