<div class="href-product">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#!/">Trang chủ</a></li>
                <li class="breadcrumb-item">Liên hệ</li>
            </ul>
        </nav>
    </div>
</div>
<div class="container">
    <div class="contact">
        <div class="contact-left">
            <p>Công ty TNHH thời trang UShop</p>
            <i class="fa-solid fa-location-dot"></i>
            <b>Địa chỉ:</b> Dục Tú Đông Anh Hà Nội
            <div></div>
            <i class="fa-solid fa-envelope"></i>
            <b>Email:</b> duypkph34320@fpt.edu.vn
            <div></div>
            <i class="fa-solid fa-phone"></i>
            <b>Hotline:</b> 0862832192
            <div class="form-contact">
                <p>Liên hệ với chúng tôi</p>
                <input placeholder="Họ và tên" />
                <div></div>
                <input placeholder="Email" />
                <div></div>
                <input placeholder="Số điện thoại*" />
                <div></div>
                <textarea placeholder="Nội dung"></textarea>
            </div>
        </div>
        <div class="contact-right">
            <div id="map-container">
                <div id="map"></div>
                <div class="info-popup">
                    <h3>Dục Tú 3</h3>
                    <p>Dục Tú, Đông Anh, Hà Nội</p>
                    <div class="rating">
                        <span>4.5</span>
                        <p>(50 bài viết)</p>
                    </div>
                    <a href="#" class="direction-button">Chỉ đường</a>
                </div>
            </div>
        </div>
    </div>
    <button class="btn-gui-thong-tin">Gửi thông tin</button>
</div>