<div class="home" ng-controller="HomeController">
  <div class="header-home">
    <img src="../assets/images/slider_1.webp" alt="Banner">
  </div>
  <div class="body-home">
    <h1>Sản phẩm mới</h1>
    <hr class="hr">
    <div class="container">
      <div class="body-home-content-news">
        <div class="body-cart" ng-repeat="product in paginatedProductsNew">
          <img ng-src="{{product.image}}" alt="{{product.title}}">
          <div>{{product.title}}</div>
          <span>{{product.price | currency:"VND":0}}</span>
        </div>
      </div>
    </div>
    <div class="dot-pagination">
      <span ng-repeat="page in [].constructor(totalPagesNew) track by $index"
            ng-click="goToPageNew($index + 1)"
            ng-class="{'active-dot': $index + 1 === currentPageNew}">
      </span>
    </div>
    <h1>Sản phẩm nổi bật</h1>
    <hr class="hr">  
    <div class="container">
      <div class="body-home-content-noi-bat">
        <div class="body-cart" ng-repeat="product in paginatedProductsFeatured">
          <img ng-src="{{product.image}}" alt="{{product.title}}">
          <div>{{product.title}}</div>
          <span>{{product.price | currency:"VND":0}}</span>
        </div>
      </div>
      <div class="dot-pagination">
        <span ng-repeat="page in [].constructor(totalPagesNew) track by $index"
              ng-click="goToPageNew($index + 1)"
              ng-class="{'active-dot': $index + 1 === currentPageNew}">
        </span>
      </div>
      
    </div>
    
  </div>
</div>
