<div class="container">
    <div class="product">
      <div class="product-left">
        <ul>
          <h3>Danh mục sản phẩm</h3>
          <li><a href="#!/product">Tất cả sản phẩm</a></li>
          <li><a href="#!/product/new">Sản phẩm mới</a></li>
          <li><a href="#!/product/featured">Sản phẩm nổi bật</a></li>
          <li><a href="#!/product/new">Sản phẩm khuyến mãi</a></li>
        </ul>
      </div>
      <div class="product-right">
        <div  class="product-cart" ng-repeat="product in products | filter:{category: 'Featured'}">
          <img ng-src="{{product.image}}"  alt="{{product.title}}">
          <div>{{product.title}}</div>
          <span>{{product.price | currency:"VND":0}}</span>
        </div>
      </div>
    </div>
  </div>