<div class="href-product">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#!/">Trang chủ</a></li>
                <li class="breadcrumb-item">Đăng ký tài khoản</li>
            </ul>
        </nav>
    </div>
</div>
<div class="container" ng-controller="LoginController">
    <div class="login">
        <h4>ĐĂNG NHẬP</h4>
        <p>Đã có tài khoản, <a href="#!/login">đăng nhập tại đây</a></p>
        <form>
            <input type="text" placeholder="Họ" required>
            <input type="text" placeholder="Tên" required>
            <input type="email" placeholder="Email" required>
            <input type="text" placeholder="Số điện thoại" required>
            <input type="text" placeholder="Mật khẩu" required>
            <button type="submit" class="btn-login">Đăng nhập</button>
        </form>
        <p>Hoặc đăng nhập bằng</p>
        <div class="social-login">
            <i class="fa-brands fa-facebook"></i><button class="social-button facebook">Facebook</button>
            <i class="fa-brands fa-google"></i><button class="social-button google">Google</button>
        </div>
    </div>

</div>